:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #222831;
  color: #eeeeee;
}

header {
  position: fixed;
  background-color: #393e46;
  width: 100%;
  opacity: 0.9;
}

header ul li {
  font-size: x-large;
}

.home-list li {
  list-style-type: none;
  border: 3px solid #393e46;
  border-radius: 30px;
  margin: 0.5rem;
}
.random-show li {
  list-style-type: none;
  border: 3px solid #393e46;
  border-radius: 30px;
  margin: 0.5rem;
}
main {
  padding-top: 3rem;
}

h1 {
  text-align: center;
  color: #b55400;
}

h3 {
  color: #b55400;
  text-align: center;
}

a {
  width: 100%;
  display: flex;
  justify-content: center;
}

ul {
  margin-left: 0;
  padding-left: 0;
}
li {
  list-style: none;
}

h4 {
  text-align: center;
}

.show-description {
  text-align: justify;
  padding-left: 1rem;
  padding-right: 1rem;
}
.show-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  line-height: 1.5rem;
  border: 3px solid #393e46;
  border-radius: 30px;
  margin: 2rem;
  padding-top: 1rem;
}

.cast-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cast-details ul li {
  border: 3px solid #393e46;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}

span {
  font-weight: bolder;
}
@media (min-width: 768px) {
  .random-show li {
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 33% 33% 33%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
  }
  .random-show li h4 {
    grid-column: 2/4;
    grid-row: 1/2;
    margin-top: 4rem;
    text-align: justify;
    font-size: larger;
  }
  .random-show li a {
    grid-row: 1/4;
  }
  .random-show li p {
    grid-column: 2/4;
    grid-row: 2/4;
    line-height: 1.4rem;
  }
  .home-list {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .show-details {
    display: grid;
    grid-template-rows: 50% 50%;
  }
}
